html,
body {
  height: 100%;
  font-family: Montserrat;
}
.bg-black {
  background: #121212;
}
.bg-black-transparent-1 {
  background: rgba(0, 0, 0, 0.9);
}
.bg-black-transparent-2 {
  background: rgba(0, 0, 0, 0.8);
}
.bg-black-transparent-3 {
  background: rgba(0, 0, 0, 0.85);
}
.bg-particle {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0.15;
  z-index: 0;
}
.custom-no-padding {
  padding: 0px;
}
.cursor-pointer {
  cursor: pointer;
}
.full-height {
  height: 100%;
}
.text-white {
  color: white;
}
.custom-text-muted {
  color: #a5a5a5;
}
.text-uppercase {
  text-transform: uppercase;
}
.vertical-center {
  display: flex;
  align-items: center;
}
.horizontal-center {
  display: flex;
  justify-content: center;
}
.custom-display-flex {
  display: flex;
}
@media screen and (max-width: 768px) {
  .custom-display-flex-mobile {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .custom-display-flex-no-mobile {
    display: flex;
  }
}
.custom-overflow {
  overflow-x: hidden;
  overflow-y: scroll;
}
.visibility-hidden {
  opacity: 0 !important;
}
.nav-container .nav-headline-container {
  margin-top: 60px;
  margin-left: 10%;
}
.nav-container .nav-button-container {
  display: flex;
  flex-direction: column;
  height: 70%;
  margin-top: 40px;
}
.nav-container .nav-button-container-child {
  height: 100px;
  padding-left: 5%;
  cursor: pointer;
}
.nav-container .nav-button-container-child .nav-child__selection-icon-container {
  min-width: 15px;
  opacity: 1;
}
.nav-container .nav-button-container-child .nav-child__selection-icon-container .nav-child__selection-icon {
  width: 15px;
  background: #777777;
  border-radius: 50%;
  height: 15px;
}
.nav-container .nav-button-container-child .nav-child__text-container {
  margin-left: 20px;
}
.nav-container .nav-credit-container {
  background: #161616;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.nav-container small {
  font-style: italic;
}
.content-outer-container {
  z-index: 1;
  color: white;
  padding: 50px 0px;
}
.content-outer-container .content-outer__info-container .content-sub-text {
  margin-top: 30px;
}
.content-outer-container .content-outer__info-container .text-white {
  margin-top: 30px;
}
.content-outer-container .content-outer__info-container hr {
  margin-top: 10px;
  width: 80px;
  float: left;
}
.content-outer-container .content-outer__info-container .content-outer__separated-paragraph {
  margin-top: 45px;
}
.content-outer-container .content-outer__info-container .content-outer__education-container .content-outer__education-container__big-container {
  margin: 10px 0px;
}
.content-outer-container .content-outer__info-container .content-outer__education-container .content-outer__education-container__timestamp-container {
  background: #006ca3;
  padding: 10px 5px;
  border-radius: 5px;
}
.content-outer-container .content-outer__info-container .content-outer__education-container .content-outer__education-container__school-container {
  border: 1px solid white;
  padding: 10px;
  width: 100%;
}
@media screen and (max-width: 450px) {
  .content-outer-container .content-outer__info-container .content-outer__education-container .content-outer__education-container__school-container {
    padding: 30px 10px;
    margin-top: -20px;
  }
}
.content-outer-container .content-outer__avatar-container img {
  width: 100%;
  margin-top: 20px;
}
.ng-animation {
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.ng-animation.ng-enter {
  opacity: 0;
}
.ng-animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.ng-animation.ng-leave {
  opacity: 1;
}
.ng-animation.ng-leave.ng-leave-active {
  opacity: 0;
}
.contact-container {
  margin-top: 45px;
}
.contact-container a {
  color: white;
  transition: all 0.5s ease-in-out;
}
.contact-container a:focus,
.contact-container a:hover {
  color: white;
  filter: brightness(0.6);
}
.custom-z-index-0 {
  z-index: 0;
}
.custom-z-index-1 {
  z-index: 1;
}
.custom-z-index-2 {
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .mobile-home-container {
    padding-top: 15px;
  }
}
@media screen and (max-width: 768px) {
  .mobile-column-margin {
    margin: 15px 0px;
  }
}
::-webkit-scrollbar {
  width: 10px;
  display: none;
  opacity: 0;
}
::-webkit-scrollbar-track {
  background: transparent;
  display: none;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
  border: 1px solid #555;
  display: none;
}
::-webkit-scrollbar-thumb:hover {
  background: #111;
}
